@import "../../styles/globals.scss";

.form {
	margin-top: 16px;

	display: flex;
	flex-direction: column;
	gap: 12px;

	.form__group {
		display: flex;
		gap: 8px;
		width: 100%;
	}
}

.form__item {
	display: flex;
	flex-direction: column;
	gap: 4px;

	width: 100%;

	&-error,
	&-title {
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		color: $text-secondary;
	}

	&-error {
		color: $tomato;
	}

	&-input {
		padding: 10px 12px;
		border: none;
		border: 1px solid $input-field;
		border-radius: 6px;

		&.cvc {
			padding: 10px 4px 10px 12px;
		}

		&.--error {
			border-color: $tomato;
		}
	}
}

.form__item-inputWrapper {
	position: relative;

	.form__item-icon {
		position: absolute;

		top: 11px;
		right: 13px;
	}
}

@include media(mobile) {
	.form {
		.form__group {
			.form__item {
				width: 160px;
			}
		}
	}

	.form__item-input.cvc {
		width: 142px;
	}
}
