$text-primary: #363A43;
$text-secondary: #666C7B;
$text-thirdly: #797E8B;
$text-disabled: #B0B4BE;
$white: #FFFFFF;
$green: #028837;
$green-light: #029C3F;
$green-dark: #02742F;
$input-field: #C7C9D1;
$black: #000000;
$tomato: #FF6347;
$divider: #E4E6EC;
$gray: #F7F7F9;